.results {
  margin-left: 10%;
  color: rgb(235, 178, 124);
}

.results p {
  margin: 5%;
}

@media (max-width: 875px) {
  .results {
    margin-left: 0%;
    text-align: center;
    color: rgb(255, 255, 255);
  }

  .results p {
    margin: 5%;
  }
}
