.mainTitle {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #474b57;
}

.mainTitle h1 {
  padding-bottom: 3%;
}

@media (max-width: 875px) {
  .mainTitle h1 {
    font-size: large;
  }

  .mainTitle p {
    padding-right: 5%;
    padding-left: 5%;
    font-size: smaller;
    font-weight: 800;
  }
}
